@import url(//fonts.googleapis.com/css?family=Jost);
body {
  background-color: #232229;
  font-family: "Jost";
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.header-reset {
  display: flex;
  justify-content: space-around;
}

h1,
h2 {
  color: white;
}

.btn {
  background-image: linear-gradient(180deg, #e1a0a0, #e58181);
  box-shadow: 0 10px 40px #6b3838;
  border-radius: 100%;
  color: white;
}

btn:hover {
  background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
}

.list-group-item {
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
}

.list-group-item i.square {
  flex-grow: 0;
  cursor: pointer;
  order: 1;
}

.list-group-item i.check-square {
  display: none;
}

.list-group-item .todo-text {
  flex-grow: 1;
  margin: 0 10px;
  order: 2;
}

.list-group-item.done i.check-square {
  flex-grow: 0;
  cursor: pointer;
  color: white;
  display: block;
}

.list-group-item.done .todo-text {
  text-decoration: line-through;
  color: white;
}

#todo {
  background-color: #2b2a33;
  border: 0.5px dashed #6c6a7c;
}

#resetbtn {
  color: white;
  height: 3em;
  width: 5em;
  border-radius: 20%;
  border: transparent;
  font-family: "Jost";
}

span {
  color: white;
}